<h2>Contacts!</h2>

<form [ngFormModel]="form" (submit)="form.valid && saveOne()" novalidate class="form-inline">
  <input ngControl="_id" [(ngModel)]="contact._id" type="hidden">
  <div class="form-group has-feedback" [class.has-error]="form.controls.name.dirty && !form.controls.name.valid
      && form.controls.name.value !== ''">
    <input ngControl="name" [(ngModel)]="contact.name" autofocus class="form-control" placeholder="Name">
  </div>
  <div class="form-group has-feedback" [class.has-error]="form.controls.email.dirty && !form.controls.email.valid
      && form.controls.email.value !== ''">
    <input ngControl="email" [(ngModel)]="contact.email" class="form-control" placeholder="Email">
  </div>
  <button (click)="resetForm()" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Clear
  </button>
  <button [disabled]="!form.valid" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{form.controls._id.value ? 'Update' : 'Create' }}
  </button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#contact of contacts" (click)="selectOne(contact._id)">
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.createdAt | date: 'medium'}}</td>
      <td>{{ contact.updatedAt | date: 'medium'}}</td>
      <td>
        <button (click)="removeOne($event, contact)" class="btn btn-default">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
